* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 5em;
    font-weight: bold;
}

h2 {
    font-size: 4em;
    font-weight: bold;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

i {
    color: #602080;
    font-size: 5em;
}

i:hover {
    color: #f696f6;
}

p {
    font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}

/* Intro */

#intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.intro-arc {
    background-color: #602080;
    height: 40%;
    left: 0;
    position: absolute;
    top: 0;
    width: 20%;
}

.intro-circle {
    background-color: #202040;
    border-radius: 100%;
    height: 80%;
    left: 0;
    position: absolute;
    top: 0;
    width: 40%;
    z-index: 2;
}

.intro-div {
    background-color: #202040;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 6rem;
    position: relative;
}

.intro-img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.intro-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.3em;
    text-align: left;
    z-index: 3;
}

nav {
    align-items: center;
    background-color: #131325;
    display: flex;
    flex-direction: row;
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    padding: 1rem 6rem;
}

nav > div {
    color: white;
    font-size: 2rem;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav > ul > li {
    color: white;
    display: inline;
    font-size: 1.5em;
    padding-left: 2rem;
}

nav > ul > li:hover {
    color: #602080;
}

.pink-letter {
    color: #f696f6
}

.profile-image {
    border: 1em solid #602080;
    border-radius: 100%;
}

/* About */

#about {
    background-color: white;
}

.about-content, .about-img-div {
    padding-bottom: 6rem;
    padding-top: 6rem;
}

.about-content {
    background-color: #602080;
    color: white;
    display: flex;
    flex: 2;
    flex-direction: column;
    padding-right: 6rem;
}

.about-div {
    display: flex;
    flex-direction: row;
}

#about h3 {
    margin-bottom: 1rem;
}

#about hr {
    border-top: 5px solid #f696f6;
    margin: 1rem 0;
}

.about-image {
    border-radius: 5%;
    width: 80%;
}

.about-img-div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 6rem;
}

.about-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3rem;
}

.about-text p {
    text-align: justify;
}

/* Learn Chinese */

.learn-chn-div {
    color: white;
    border-bottom: 0.5rem solid #131325;
    border-top: 0.5rem solid #131325;
    position: relative;
}

.learn-chn-filter {
    background-color: #602080b2;
    height: 100%;
    position: absolute;
    width: 100%;
}

.learn-chn-img {
    display: block;
    width: 100%;
}

.learn-chn-text h2 {
    margin-bottom: 4rem;
}

.learn-chn-text h2, .learn-chn-text h4 {
    display: inline-block;
}

.learn-chn-text {
    text-align: end;
}

.learn-chn-text-pos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
}

/* Features */

.features-bg {
    background-color: white;
}

.features-grid {
    display: grid;
    gap: 5%;
    grid-template-columns: auto auto auto;
    padding: 7rem 6rem;
}

.features-grid article {
    text-align: center;
}

.features-grid h4 {
    margin: 1rem 0;
}
